{
  "name": "com.zdownloadmanager.host",
  "description": "ZDownloadManager native messaging host",
  "path": "__HOST_PATH__",
  "type": "stdio",
  "allowed_origins": ["chrome-extension://__EXT_ID__/"]
}
